/* * {
    border-width: 1px;
    border-style: solid;
    border-color: black;
} */


body {
    font-weight: normal;
    margin: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
}

p {
    font-family: 'Garamond', serif;
    font-weight: normal;
    font-size: 15pt;
}

.keyboardshortcut {
    background-color: #f0f0f0;
    font-family: 'Source Code Pro', monospace;
}

#header {
    padding: 25px 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 152, 35);
}

#content {
    margin: 0px 30px;
}

#step1content {
    margin-left: 25px;
}

#copypastefield {
    width: 90%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}