/* region           CATEGORIES */

.category {
    border-radius: 10px;
    background-color: rgb(255, 223, 185);
    margin: 5px 0;
}

.categoryHeader {
    //width: 100%;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(255, 223, 185);
    position: sticky;
    top: -5px;
    display: flex;
    padding: 15px 25px;
    cursor: pointer;
}

.categoryName {
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    height: 100%;
    flex: 80%;
    text-align: left;
    vertical-align: middle;
    margin: auto;
}

.categoryGrade {
    flex: 10%;
    float: right;
    text-align: right;
    margin: 0 50px 0 15px;
    white-space: nowrap;
    font-size: 14pt;
}

.categoryPercentage {
    font-size: 0.8em;
    font-weight: 100;
    color: rgb(95, 95, 95);
}

.categoryContent {
    transition: max-height 0.4s ease-out;
    //max-height: 0;
    overflow: hidden;
}

/* endregion */

/* region          ASSIGNMENTS */

.createAssignment {
    display: flex;
    margin: 5px 20px 5px 10px;
    padding: 5px 5px 5px 10px;
    text-align: center;
}

.createAssignment span {
    padding: 10px;
    margin: auto;
    width: fit-content;
    font-family: 'Oxygen', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.178);
    cursor: pointer;
}

/* endregion */
