<mat-expansion-panel (afterExpand)="overflowState='visible'" (closed)="overflowState='hidden'"
                     [style.overflow]="overflowState"
                     class="category" id="{{category.id}}">
    <mat-expansion-panel-header #categoryHeader class="categoryHeader" id="{{'hed' + category.id}}">
        <button (click)="showStatistics($event)"
                class="infoIconBtn">
            <mat-icon (mouseenter)="infoIconColor = 'gray'"
                      (mouseleave)="infoIconColor = 'black'"
                      [style.color]="infoIconColor"
                      class="infoIconImg"
                      matTooltip="Show statistics"
                      matTooltipClass="infoIconTooltip"
                      matTooltipPosition="above">
                info
            </mat-icon>
        </button>
        <h2 class="categoryName">{{category.name}} <span class="categoryPercentage">
        ({{category.weight * 100}}%)</span>
        </h2>
        <p class="categoryGrade">
            {{category.gradeStr}}
            <br>
            <span class="categoryPercentage">
            {{category.fracStr}}
        </span>
        </p>
    </mat-expansion-panel-header>
    <div class="categoryContent" id="{{'ctt' + category.id}}">
        <app-assignment (edited)="updateGrades()"
                        (removed)="removeAssignment($event)"
                        *ngFor="let assignment of category.assignments"
                        [assignment]="assignment"
                        [editableName]="assignment.editableName"></app-assignment>
        <div class="createAssignment">
            <span (click)="addAssignment()" class="addAssignmentBtn">
                Add new assignment
            </span>
        </div>
    </div>
</mat-expansion-panel>
