#copypastefield {
    width: 100%;
    font-family: 'Garamond', serif;
    font-weight: normal;
    font-size: 1em;
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
}

#submitbutton {
    font-family: 'Oxygen', sans-serif;
}
