<div (click)="removed.emit(category)" class="removeCategory">×</div>
<p class="weightItem">
    <input #weightName (blur)="updateName(weightName.value)" (keyup)="updateName(weightName.value)"
           class="weightName"
           value="{{category.name}}">
    <span class="weightPercent">
    <input #weightInput
           (blur)="updateWeights()"
           (keyup)="updateWeights()"
           class="weightPercentInput"
           id="877724890"
           autocomplete="off"
           type="text">%</span>
</p>
