.weightPercentInput[type='text'] {
    width: 30px;
    height: 100%;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(255, 223, 185, 0);
    font-size: 13pt;
}

.weightPercent {
    margin-right: 5px;
    flex: 25%;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    font-size: 13pt;
}

.weightName {
    font-family: 'Garamond', serif;
    font-size: 15pt;
    width: 100%;
    border-style: none;
    border-radius: 4px;
    background-color: rgba(255, 223, 185, 0);
    flex: 72%;
}

.weightItem {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex: 95%;
}

.removeCategory {
    flex: 3%;
    margin: auto 2px auto 0;
    padding: 3px 3px 4px;
    vertical-align: middle;
    font-size: 18pt;
    font-weight: 700;
    cursor: pointer;
}
