/* region           CONTENT */

#step1content p, #step2content p {
    margin-left: 25px;
    font-size: 15pt;
}

#resetCalculator {
    font-family: 'Oxygen', sans-serif;
}

.keyboardshortcut {
    display: inline-block;
    margin: 2px 0;
    background-color: #f0f0f0;
    font-family: 'Source Code Pro', monospace;
}

/* endregion */

/* region           CATEGORIES */

.createCategory {
    display: flex;
    margin: 5px 20px 5px 10px;
    padding: 5px 5px 5px 10px;
    text-align: center;
}

.createCategory span {
    padding: 10px;
    margin: auto;
    width: fit-content;
    font-family: 'Oxygen', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.178);
    cursor: pointer;
}

/* endregion */

/* region           ASSIGNMENTS */

#assignmentwrapper {
    display: flex;
    width: 100%;
}

#assignmentList {
    flex: 65%;
    margin-right: 10px;
}

/* endregion*/

/* region           GRADE/WEIGHT/CALCULATE SIDEBAR */

.sidebarSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

#grades, #weights, #calcNeeded {
    margin: 5px 0;
    background-color: rgb(255, 223, 185);
    border-radius: 10px;
    padding: 2px 15px 5px 15px;
    //filter: drop-shadow(-1px 1px 0.5px #AAA);
}

/* region           WEIGHTS */

#weightList {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

#weightTotalPercent {
    font-family: 'Garamond', serif;
    text-align: right;
}

#weightTotalOverline {
    padding-top: 5px;
    border-top-color: #666666;
    border-top-width: 1px;
    border-top-style: solid;
}

/* endregion WEIGHTS */

/* region           GRADES */

#gradesWrapper {
    margin-left: 10px;
    flex: 30%;
}

/* endregion GRADES*/
