:host ::ng-deep div.mat-form-field-flex {
    padding-top: 0;
}

:host ::ng-deep div.mat-form-field-wrapper, :host ::ng-deep .mat-form-field-infix {
    padding: 0;
}

:host ::ng-deep div.mat-form-field-underline {
    bottom: 0;
}
