//* {
//   border-width: 1px;
//   border-style: solid;
//   border-color: black;
//}
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-orange);
$app-accent: mat-palette($mat-yellow);

$app-warn: mat-palette($mat-pink);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

body {
    font-weight: normal;
    margin: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
}

p, label {
    font-family: 'Garamond', serif;
    font-weight: normal;
    font-size: 15pt;
}

input[type='text'], select {
    font-family: 'Garamond', serif;
    font-weight: normal;
    font-size: 1em;
}

.keyboardshortcut {
    background-color: #f0f0f0;
    font-family: 'Source Code Pro', monospace;
}

#header {
    padding: 25px 0;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 152, 35);
}

#content {
    margin: 0 30px;
}

/* region           STEP 1 */

#step1content, #step2content {
    margin-left: 25px;
}

#copypastefield {
    width: 100%;
    font-family: 'Garamond', serif;
    font-weight: normal;
    font-size: 1em;
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
}

#submitbutton, #resetCalculator, #calcNeeded-submit {
    /*border: none;*/
    /*border-radius: 5px;*/
    /*padding: 10px 15px 10px 15px;*/
    /*background-color: rgb(255, 174, 82);*/
    font-family: 'Oxygen', sans-serif;
}

#calcNeeded-submit {
    //padding: 5px 10px 10px 10px;
    margin-bottom: 5px;
}

/* endregion*/

/* region           STEP 2 */

#step2 {
    /*display: none;*/
}

/* endregion */

/* region           CATEGORIES */

.category {
    border-radius: 10px;
    background-color: rgb(255, 223, 185);
    padding: 15px 0 25px 35px;
    margin: 5px 0;
}

.categoryHeader {
    width: 100%;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(255, 223, 185);
    position: sticky;
    top: 0;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.categoryName {
    font-family: 'Oxygen', sans-serif;

    display: inline-block;
    height: 100%;
    flex: 80%;
    text-align: left;
    vertical-align: middle;
    margin: auto;
    /* margin: auto; */
}

.categoryGrade {
    flex: 10%;
    float: right;
    text-align: right;
    margin: 0 50px 0 15px;
    white-space: nowrap;
}

.categoryPercentage {
    font-size: 0.8em;
    font-weight: 100;
    color: rgb(95, 95, 95);
}

.categoryCollapse {
    display: block;
    flex: 3%;
    width: 90%;
    height: 100%;
    margin: auto 10px auto auto;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}

.categoryContent {
    transition: max-height 0.4s ease-out;
    max-height: 0;
    overflow: hidden;
}

/* endregion */

/* region           ASSIGNMENTS*/

#assignmentwrapper {
    display: flex;
    width: 100%;
}

#assignmentList {
    flex: 65%;
    margin-right: 10px;
}

.assignment {
    display: flex;
    margin: 5px 20px 5px 10px;
    padding: 5px 5px 5px 10px;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 5px;
}

.assignmentName {
    flex: 50%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

input.assignmentName {
    font-size: 1em;
    font-family: 'Oxygen', 'sans-serif';
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    text-align: left;
    background-color: rgba(255, 223, 185, 0);
    margin-top: 9px;
    margin-bottom: 9px;
}

.assignmentScore {
    flex: 50%;
    margin: auto;
    vertical-align: middle;
    padding-left: 15px;
    white-space: nowrap;
}

.assignmentScoreGotten, .assignmentScorePossible {
    width: 40px;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(255, 223, 185, 0);
}

.createAssignment {
    display: flex;
    margin: 5px 20px 5px 10px;
    padding: 5px 5px 5px 10px;
    text-align: center;
}

.createAssignment span {
    padding: 10px;
    margin: auto;
    width: fit-content;
    font-family: 'Oxygen', 'sans-serif';
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.178);
    cursor: pointer;
}

.removeAssignment {
    flex: 3%;
    margin: auto;
    padding: 3px;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 900;
    cursor: pointer;
}

/* endregion */

/* region           GRADE/WEIGHT SIDEBAR */

.sidebarSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

#grades, #weights, #calcNeeded {
    margin: 5px 0;
    background-color: rgb(255, 223, 185);
    border-radius: 10px;
    padding: 2px 15px 5px 15px;
}

/* region           WEIGHTS */

.weightPercentInput[type='text'] {
    width: 30px;
    height: 100%;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(255, 223, 185, 0);
}

.weightPercent {
    margin-right: 5px;
    flex: 25%;
    width: 100%;
    text-align: right;
    white-space: nowrap;
}

.weightName {
    width: 100%;
    flex: 75%;
}

.weightItem {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    display: flex;
}

#weightList {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* endregion WEIGHTS */

/* region           GRADES */

#gradesWrapper {
    margin-left: 10px;
    flex: 30%;
}

/* endregion GRADES*/

/* region           CALCULATE NEEDED */

.calcNeededDiv {
    /*display: flex;*/
    margin: 0 0 0 10px;
    //margin-bottom: 10px;
    //padding: 3px;
    white-space: nowrap;
}

.calcNeededLabel {
    //margin: 8px 0 8px 0;
    width: 100%;
    flex: 60%;
}

#calcNeeded-category {
    //max-width: 100%;
    //width: auto;
    font-family: 'Garamond', serif;
}

.calcNeededInput {
    margin: 0;
    /*width: 100%;*/
    flex: 40%;
    width: 75px;
    //height: 100%;
    //border-style: none;
    //border-radius: 4px;
    text-align: left;
    padding: 2px;
    //background-color: rgba(255, 255, 255, 0.2825);
}

.calcNeededInput::placeholder {
    text-align: center;
}

#calcNeeded-result, #calcNeeded-resultPercent {
    /*background-color: rgba(255, 255, 255, 0.2825);*/
    font-family: 'Garamond', serif;
    font-weight: bold;
    padding: 2px;
}

#calcNeeded-resultParagraph {
    margin-top: 1px;
    margin-bottom: 1px;
}

/* endregion        CALCULATE NEEDED */

.weightPercentInput[type='text'] {
}


/* endregion GRADE/WEIGHT SIDEBAR*/


